{% extends 'booking_app/base.html' %}
{% block body %}
    {{ request.user }}<br>
    <br>
    <a href="{% url 'register' %}"><button>Регистрация</button></a>
    <a href="{% url 'login' %}"><button>Вход</button></a>
    <a href="{% url 'logout' %}"><button>Выход</button></a><br>
    {% if request.user.is_authenticated %}
        <h3>мои брони:</h3>
    {% endif %}
    <h3>список комнат:</h3>
    <ul>
        {% for room in rooms %}
            <li> {{ room }} </li>
        {% endfor %}
    </ul>
{% endblock %}